.profile__desc {
  margin: 0;
  grid-area: desc;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}

@media screen and (max-width: 758px) {
  .profile__desc {
    text-align: center;
  }
}

@media screen and (max-width: 468px) {
  .profile__desc {
    font-size: 14px;
  }
}