.profile__avatar-wrap {
  margin-right: 32px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 758px) {
  .profile__avatar-wrap {
    margin-right: 0;
    margin-bottom: 26px;
  }
}